<!DOCTYPE html />

<html>
<head>
	<title>@Title</title>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<link href="@(PathToCss)" rel="stylesheet" media="all" type="text/css" />
    <link href="@(PathToCss1)" rel="stylesheet" media="all" type="text/css" />
	<script src="@(PathToJs)" type="text/javascript"></script>
    <script src="@(PathToJs1)" type="text/javascript"></script>
    <script src="@(PathToJs2)" type="text/javascript"></script>
    <script src="@(PathToJs3)" type="text/javascript"></script>
    
</head>
<body onload="prettyPrint()">
    <div id="container">
        <a href="#" class="back-to-top" style="display: inline;">
            <img src="@BackToTopPath">
        </a>
        <div class="optionMenu">
            <div class="options">
                <input type="search" id="search" style="margin-left: 5px;" />
                <ul id="menu">
                    @Menu
                </ul>
            </div>
            <div class="titreOption">
                <div class="textTitre center-block">Menu</div>
            </div>            
        </div>
        @if (IsCodeFile)
        {
            <h1>@Title</h1>
            <p>@Intro</p>
            <table cellpadding="0" cellspacing="0">
                <colgroup>
                    <col style="width:33%">
                    <col style="width:66%">
                </colgroup>
                <thead>
                    <tr>
                        <th class="docs header">

                        </th>
                        <th class="code header"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Sections.Count; i++)
                    {
                        <tr id="section_@(i + 1)">
                            <td class="docs">
                                @Sections[i].DocsHtml
                            </td>
                            <td class="code desc">
                                <pre><code class='prettyprint'>@Sections[i].CodeHtml</code></pre>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            @Intro
        }

    </div>
</body>



</html>
